/*=================================================================================
	1.0 - Products & Services Index
=================================================================================*/
.products-main {
/* 	padding-left: 1rem; */
/* 	padding-right: 1rem; */
}
.products-main h1.section-head,
.products-main p.subhead {
	padding: 0 1rem;	
}
.products-main h1.section-head {
	margin: 5rem auto 0.67rem;
	display: block;
	font-size: 1.75rem;
	
}
.products-main p.subhead {
	padding-bottom: 2rem;
/* 	padding-right: 38%; */
	color: #555;
	font-size: 0.95rem;
	line-height: 1.1;
}
.products-main p.page-subtitle {
	border-bottom: 1px solid #ddd;
}
.products-main h2.section-head,
	.store-main h2.section-head {
	margin: 0rem auto 3rem;
	display: block;
	font-size: 1.75rem;
/* 	text-align: center; */
}
.prem-auto-head {
	text-align: center;
}

/*--------------------------------------------
	1.1 - Prem. Auto. Solutions Section
----------------------------------------------*/
.products-main .auto-solutions-section {
	margin-top: 4rem;
	/*	Below: To cancel the effect of the material 
		class on the lower border of this section	*/
	background-color: #fff;
	position: relative;
	z-index: 7;
}
.products-main .auto-solutions-wrap {
	padding-bottom: 4rem;
	border-bottom: 1px solid #ddd;
}
.products-main .auto-solutions-column {
	display: block;
	width: 100%;
/* 	margin-right: -4px; */
	padding: 0 2rem;
	text-align: justify;
	margin-bottom: 4rem;
}
.products-main .auto-solutions-column img {
	max-width: 200px;
	display: block;
	margin: 0 auto 1rem;
	width: 62%;
	border-radius: 50%;
}
.products-main .auto-solutions-column h3 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0 0 1.5rem;
}
.products-main .auto-solutions-column p {
	max-width: 18rem;
	display: block;
	margin: 0 auto 1.5rem;
	color: #444;
}
.products-main .auto-solutions-column a {
	display: block;
	margin: 0 auto;
	padding: 0.5rem 0.33rem;
	width: 38%;
}

/*--------------------------------------------
	1.2 - Prem. Equipment
----------------------------------------------*/
.premium-equipment-section {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.ads-section {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}
.hve-wrap {
	padding: 0;
}
.hve-ads-section {
	height: calc(17rem + 3.33rem + 3.1rem + 4rem);
	z-index: 6;
	background-color: #fff;
}
.hve-ads-section h2.section-head {
	margin-bottom: 1rem;
}
.hve-ads-section p.subhead {
	padding: 0;
	margin-bottom: 1.5rem;
	white-space: normal;
}

/*--------------------------------------------
	1.3 - Ads Sections
----------------------------------------------*/
.hve-wrap,
.new-equip-wrap,
.specials-wrap,
.waters-wrap {
	margin: 0 auto;
	width: 22.1rem;
	overflow: hidden;
}
.ads-section h2.section-head {
	margin-bottom: 1rem;
}
.new-equipment-ad-section,
.monthly-specials-ad-section,
.waters-equipment-ad-section {
 	height: 24.5rem;
 	position: relative;
 	background-color: #fff;
}
.new-equipment-ad-section {
	z-index: 5;
}
.monthly-specials-ad-section {
	z-index: 4;
}
.waters-equipment-ad-section {
	z-index: 3;
}

/*--------------------------------------------
	1.4 - Outlet Sections
----------------------------------------------*/
.outlet-ad-section {
	margin: 3.5rem auto 4rem;
}
.outlet-ad-section h2 {

}
.outlet-ad-section span {
	margin: 1rem 0 1.5rem;
	color: #555;
	font-style: italic;
	font-size: 1.25rem;
	display: block;
}
.outlet-ad-section p {
	margin: 1rem 0 2rem;
	width: 62%;
	color: #333;
}
.outlet-ad-section a {
	padding: 0.33rem 0.5rem;
}




/*=================================================================================
	X.0 - Media Queries
=================================================================================*/
@media only screen and (min-width: 32.8125rem) { /* 525px */
	.hve-wrap,
	.new-equip-wrap,
	.specials-wrap,
	.waters-wrap {
		width: 25.5rem;
	}
}



@media only screen and (min-width: 47rem) { /* 752px */
	.products-main h1.section-head {
		margin: 6rem auto 1rem;
		display: block;
		font-size: 3rem;
	}
	.products-main p.subhead {
/* 		padding-bottom: 2rem; */
/* 		padding-right: 38%; */
/* 		color: #555; */
		font-size: 1.1rem;
/* 		line-height: 1.1; */
	}
	.products-main .auto-solutions-section h2.section-head {
		padding-left: 1rem;
		padding-bottom: 2rem;
	}
	.products-main h2.section-head,
	.store-main h2.section-head {
		margin: 0rem auto 1rem;
		padding: 0;
/* 		display: block; */
		font-size: 2.33rem;
		text-align: left;
	}
	.products-main .auto-solutions-column {
		display: inline-block;
		width: 33.333%;
		margin-right: -4px;
		padding: 0 3rem;
		text-align: justify;
		margin-bottom: initial;
	}
	.prem-auto-head {
		text-align: center;
	}
	.hve-wrap,
	.new-equip-wrap,
	.specials-wrap,
	.waters-wrap {
		width: 38.25rem;
	}
	
}



@media only screen and (min-width: 63rem) { /* 1008px */
	.hve-wrap,
	.new-equip-wrap,
	.specials-wrap,
	.waters-wrap {
		width: 51rem;
	}
}



@media only screen and (min-width: 85rem) { /* 1360px */
	.hve-wrap,
	.new-equip-wrap,
	.specials-wrap,
	.waters-wrap {
		width: 63.75rem;
	}
}



@media only screen and (min-width: 100rem) { /* 1600px */
/* 	.products-main h1.section-head, */
/* 	.products-main p.subhead { */
/* 		padding: initial; */
/* 	} */
	.hve-wrap,
	.new-equip-wrap,
	.specials-wrap,
	.waters-wrap {
		width: 76.5rem;
	}
}


@media only screen and (min-width: 120rem) {
	.hve-wrap,
	.new-equip-wrap,
	.specials-wrap,
	.waters-wrap {
		width: 89.25rem;
	}
}

/*=================================================================================
	X.0 - Media Queries
=================================================================================*/
/* @media only screen and (min-width: 32.8125rem) { 525px */

/* } */



/* @media only screen and (min-width: 47rem) { 752px */

/* } */



/* @media only screen and (min-width: 63rem) { 1008px */

/* } */



/* @media only screen and (min-width: 85rem) { 1360px */

/* } */



/* @media only screen and (min-width: 100rem) { 1600px */

/* } */