/*
 * This is the main stylesheet for the admin interfaces.
 *
 * ----------------------------------------------------------------------------
 * Contents:
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
 
 
 /*=================================================================================
	1.0 - Admin Page Layout
=================================================================================*/
.admin-body {
	width: 100%;
	height: 100vh;
}
.admin-header {
	width: 100%;
	height: 5vh;
}

/*=================================================================================
	2.0 - Lists
=================================================================================*/
.list-main {
	width: 95%;
	height: 95vh;
}
.list-toolbar {
	width: 100%;
	height: 10vh;
}
.list-wrap {
	width: 100%;
	height: 85vh;
	padding-bottom: 5vh;
}
.list-table {
	width: 100%;
	height: 75vh;
}
.list-pagination {
	width: 100%;
	height: 5vh;
}