/*
 * This is the main stylesheet for the admin interfaces.
 *
 * ----------------------------------------------------------------------------
 * Contents:
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
 
 
 /*=================================================================================
	1.0 - Admin Page Layout
=================================================================================*/
.admin-body {
	width: 100%;
	height: 100vh;
/* 	overflow-x: hidden; */
}
.admin-header {
	width: 100%;
	height: 5.3rem;
}
#logoBar_rightBG {
	width: 100%;
	right: initial;
}
.logoBar {
	border-bottom: 0.2rem solid #3EC70C;
}
.logoBar img {
	overflow: hide;
}
.topNavBar {
	top: 0;
	background: linear-gradient(
					to bottom,
					#eee,
					#ddd 100%
				);
}
.navList li a {
	line-height: 1rem;
	padding: 0.4rem 0.667rem;
}
div.dropDown {
	top: 1.8rem;
}
ul.dropDown li a {
	padding: 0.33em 0.667em;
}
.load-notice {
	position: fixed;
	z-index: 50;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #f2f2f2;
	border-radius: 2px;
	width: 20rem;
/* 	height: 4rem; */
	padding: 2rem;
}

/*=================================================================================
	2.0 - Lists
=================================================================================*/
.list-main {
	width: 100%;
	height: calc(100vh - 5.3rem - 1vh);
	top: 0;
/* 	border-top: 2px solid red; */
/* 	border-bottom: 2px solid blue; */
/* 	z-index: 3; */
	display: block;
	margin: 0 auto;
	position: relative;
	padding-top: 1vh;
	overflow: initial;
}
.list-toolbar {
	width: 98%;
	height: 10vh;
	margin: 0vh auto 1vh;
}
.list-wrap {
	overflow-y: scroll;
	width: 98%;
	max-height: 73vh;
/* 	padding-bottom: 5vh; */
	border-radius: 2px;
	margin: 0 auto;
	font-size: 85%;
	background-color: #f5f5f5;
}
table.list-table {
	width: 100%;
/* 	height: 75vh; */
	font-family: 'Open Sans', calibri, helvetica, sans-serif;
	border-collapse: collapse;
}
.list-table tr {
}
.list-table tr:hover {
/* 	background-color: #C8E6C9; */
	background: linear-gradient(
					to bottom,
					#D7F3D8,
					#AFE8B1 100%
				);
	color: #36B106;
	cursor: pointer;
}
.list-table tr:hover td {
	color: #217723;
}
.list-table tr:nth-child(even) {
	background-color: #fbfbfb;
}
.list-table tr:nth-child(odd) {
	background-color: #eee;
}
.list-table td, 
.list-table th {
	font-family: 'Open Sans', calibri, helvetica, sans-serif;
	border-right: 1px solid #ddd;
	text-align: left;
/* 	padding: 0.45em 0.33em; */
	padding-left: 0.25rem;
	height: 2.75vh;
	vertical-align: middle;
}
.list-table td:first-child,
.list-tabel th:first-child {
	padding: 0;
}
.list-table td:last-child, 
.list-table th:last-child {
	border-right: 0;
}
.list-table td {
	color: #333;
}
.list-table th {
	background: linear-gradient(
					to bottom,
					#f5f5f5,
					#e5e5e5 100%
				);
	color: #555;
	font-style: italic;
}
.list-pagination {
	width: 100%;
	height: 5vh;
}
/*--------------------------------------------
	X.X - Checkboxes
----------------------------------------------*/
.item-select {
	display: block;
	height: 1rem;
    margin: 0 auto;
}
/*--------------------------------------------
	X.X - Status Flags
----------------------------------------------*/
img.status-flag {
	width: 1.15rem;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.15)) invert(50%);
}
span.status-rm {
	padding: 0.1rem 0.25rem;
	font-size: 0.8rem;
	display: inline-block;
}
.list-main .list-pagination {
	width: 98%;
	margin: 0 auto;
	padding-top: 0.5rem;
}
.list-main .std-pg {
	margin-top: 0;
}

/*=================================================================================
	X.0 - Asset View
=================================================================================*/
div.asset-view {
	position: absolute;
/* 	top: 2px; */
	bottom: 0;
	width: 95%;
	transition: 0.5s ease;
/* 	border: 1px solid #333; */
/* 	left: 100%; */
	z-index: 3;
	height: 93vh;
	overflow-y: scroll;
	background-color: #f9f9f9;
	border-top-left-radius: 2px;
	padding: 0rem 1rem 0;
	margin-top: 3rem;
	box-shadow: -2px 4px 6px 3px rgba(0,0,0,0.15), 0 2px 0 1px rgba(0,0,0,0.15);
}
nav.asset-view {
	height: 3rem;
	margin: 0 -1rem 1rem;
 	position: fixed; 
	z-index: 10;
	width: 95%;
	background-color: #f8f8f8;
	border-top-left-radius: 2px;
	transform: translateY(-3rem);
	padding: 0.75rem 1rem 0.25rem;
}
h1.asset-view {
	margin: 1.5rem 0 1rem;
	font-weight: bold;
/* 	font-style: italic; */
	color: #333;
	font-family: 'Hind', calibri, helvetica, sans-serif;
	font-size: 2.25rem;
}
.asset-view h2 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	color: #174B94;
/* 	font-weight: bold; */
/* 	text-decoration: underline; */
	font-style: italic;
}
.asset-view table {
	width: 100%;
}
.asset-view tr:hover {
/* 	cursor: pointer; */
/* 	background: linear-gradient( */
/* 					to bottom, */
/* 					#D7F3D8, */
/* 					#AFE8B1 100% */
/* 				); */
/* 	color: #2F9606; */
}
.asset-view tr.header:hover {
	background: none;
	color: #333;
	cursor: default;
}
/* Sections */
.asset-section {
	margin: 2rem 0 3rem;
}

/* Data Tables */
.asset-view .dataTable {
	margin-bottom: 2rem;
}
.asset-view .dataTable td {
	padding: 0.25rem 0.5rem 0.25rem 0;
/* 	padding: 0.5rem 0; */
	vertical-align: top;
}
.asset-view .dataTable td:first-child {
	text-align: right;
	width: 10%;
/* 	padding-top: 0.5rem; */
	min-width: 75px;
	color: #444;
	font-weight: normal !important;
}
.asset-view .dataTable:last-child {
	margin-bottom: 0;
}
.asset-view .dataTable input,
.asset-view .dataTable select,
.asset-view .dataTable textarea {
	width: 50%;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow:	inset 0 1px 1px rgba(0,0,0,.075);
}
.asset-view .dataTable input:focus,
.asset-view .dataTable select:focus,
.asset-view .dataTable textarea:focus {
	border-color: rgba(82,168,236,.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.asset-view .dataTable select {
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}
.asset-view .dataTable textarea {
	border-radius: 2px;
	font-size: 0.8rem;
	font-family: 'Open Sans', calibri, helvetica, sans-serif;
}
.asset-view .invalid-input {
	color: #b94a48;
    border: 1px solid #b94a48!important;
    background-color: #FFEEEE;
}
.asset-view .invalid-input:focus {
	 border-color: #942a25;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #dd7a75!important;
/*     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #dd7a75 !important; */
}
.asset-view .cat-dataTable {
	width: 45%;
}
.asset-view .btns-cont {
	float: right;
}
/* Close Button */
.close-asset-view {
/* 	width: 2rem; */
	padding: 0.25rem;
	/*background-color: #aaa;*/
	display: inline-block;
	margin-right: 0.3rem;
	cursor: default;
}
.save-btn {
	display: inline-block;
	padding: 0.25rem;
	margin-right: 0.3rem;
	cursor: default;
}

/*--------------------------------------------
	X.X - Gallery
----------------------------------------------*/ 
.asset-gallery {
	display: inline-block;
/* 	margin-right: -4px; */
	width: 32%;
/* 	border: 1px solid red; */
}
.asset-gallery .main-img-cont {
	width: 100%;
	padding: 0.35rem;
	max-height: 19rem;
	overflow: hidden;
}
.asset-gallery .main-img {
	width: 100%;
/* 	padding: 0.33rem; */
	background-color: #fff;
}
.asset-gallery .img-reel-container {
	width: 100%;
/* 	max-height: 8rem; */
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 0.5rem;
	padding: 0.1rem;
/* 	padding-bottom: 0.3rem; */
/* 	margin-right: 0.2rem; */
}
.reel-wrap {
	display: block;
	width: 100%;
	white-space: nowrap;
	margin-bottom: 0.5rem;
/* 	height: 100%; */
}
.smImg-wrap {
	display: inline-block;
	width: calc(50% - 5px);
	margin-right: 5px;
	max-height: 10rem;
	padding: 0.2rem;
	overflow: hidden;
/* 	margin-right: 0.33rem; */
}
.img-reel-container img {
	display: inline;
	width: 100%;
}
.img-reel-container img:last-child {
	margin-right: 0rem;
}
/* Gallery Buttons */
.asset-gallery .img-gallery-btn-wrap {
	padding: 0.75rem 0;
}
.asset-gallery .img-gallery-btn-wrap span {
	padding: 0.25rem;
	margin-right: 0.25rem;
	cursor: default;
}
/*--------------------------------------------
	X.X - Image Editor
----------------------------------------------*/
.photo-editor {
	position: fixed;
	display: block;
	width: 38%;
	height: 80%;
	top: 12%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 2px;
	z-index: 19;
	padding: 0rem 0.5rem 0.5rem;
/* 	overflow-y: scroll; */
}
.photo-editor h2 {
	padding: 1.5rem 0 0.6rem;
	font-size: 1.5rem;
	color: #444;
	font-weight: bold;
	font-style: italic;
}
.file-drop-wrap {
	width: 100%;
}
.file-drop {
	width: 100%;
	border: 1px dashed #ccc;
    padding: 20% 5em 10%;
/* 	height: 40%; */
    position: relative;
    z-index: 5;
    margin-bottom: 1.5em;
}
.photo-editor .img-list-wrap {
	overflow-y: scroll;
	height: 50%;
}
.photo-editor .img-list {
	width: 100%;
}
.img-list tr.img-row:nth-child(even) {background: #fbfbfb}
.img-list tr.img-row:nth-child(odd) {background: #f1f1f1}

.photo-editor .img-list td {
	padding: 0.5rem 0 0.5rem 0.5rem;
}
.photo-editor .img-list td:first-child {
	width: 32%;
}
.photo-editor .img-list td:last-child {
	position: relative;
	width: 15%;
	border-left: 1px dashed #ddd;
}
.photo-editor .info-table td {
	border: 0!important;
	width: initial;
	position: static;
}
.photo-editor img {
	width: 100%;
	background: #fff;
	padding: 0.25rem;
}
.photo-editor .status-rm {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	padding: 0.5rem;
}
.img-edit-btns {
	height: 8%;
	padding: 0.75rem 0;
	margin-top: 0.75rem;
}
.img-edit-btns span {
	padding: 0.5rem 1rem;
	float: right;
	display: inline-block;
	cursor: default;
}
/*--------------------------------------------
	X.X - Statuses 
----------------------------------------------*/
.status-table {
	background-color: #fff;
/* 	border: 1px solid #ccc; */
	width: 70%;
	border-radius: 2px;
	color: #444;
	min-height: 6rem;
/* 	padding: 0.5rem 0.33rem; */
	margin: 0rem 0rem 0 0;
/* 	margin-bottom: 2rem; */
}
.status-table tr {
/* 	border-bottom: 1px solid #ddd; */
/* 	border-top: 1px solid #eee; */
}
.status-table tr:nth-child(even) {background: #fbfbfb}
.status-table tr:nth-child(odd) {background: #eee}
.status-table th {
	background:	linear-gradient(
				to bottom,
				#f5f5f5,
				#e5e5e5 100%
				);
	color: #555;
    font-style: italic;
 }
.status-table h2 {
/* 	font-size: 1.25rem; */
/* 	color: #333; */
}
.status-table th,
.status-table td {
	text-align: left!important;
	padding: 0.4rem 0.3rem!important;
}
.status-btn-wrap {
	margin: 0.5rem 0;
}
.status-btn-wrap span {
	padding: 0.1rem 0.5rem;
	margin-right: 0.25rem;
	font-size: 0.85rem;
	cursor: default;
}
/*--------------------------------------------
	X.X - Basic Data
----------------------------------------------*/
.overview-info {
	display: inline-block;
/* 	margin-right: -4px; */
	width: 68%;
/* 	border: 1px solid black; */
	padding: 0 1rem;
}
.condition-note {
	padding: 0.4rem 0.5rem;
	color: #444;
	border-left: 6px solid #FFEB3B;
	background-color: rgba(255, 235, 59, 0.3);
	margin-bottom: 2rem;
}
.overview-info .table-wrap {
	width: 100%;
	display: block;
/* 	min-width: 200px; */
}
/* .table-wrap:nth-child(2) { */
/* 	width: 35%; */
/* 	display: inline-block; */
/* 	border-right: 1px solid #ddd; */
/* 	margin-right: 5%; */
/* } */
.basic-info .dataTable {
/* 	font-size: 1.1rem; */
} 
.overview-info .dataTable tr {
/* 	line-height: 1.25;	 */
}
.overview-info .dataTable td:nth-child(1) {
/* 	width: 20%; */
}
.overview-info .dataTable td {
/* 	width: 80%; */
/* 	padding: 0.5rem 0; */
/* 	vertical-align: middle; */
/* 	padding-right: 1.5rem; */
}

/*--------------------------------------------
	X.X - Detailed Data
----------------------------------------------*/
.detailed-sect {
	padding: 1rem 0 1.5rem;
/* 	border-bottom: 1px solid #ddd; */
}
.item-detail-wrap {
/* 	display: inline-block; */
/* 	width: 50%; */
/* 	color: #333; */
/* 	font-size: 1.15rem; */
}
.item-detail-wrap h2 {
	margin-bottom: 0.5rem;
/* 	font-size: 1.5rem; */
/* 	font-weight: bold; */
/* 	text-decoration: underline; */
	font-style: italic;
}
.item-detail-wrap td {
/* 	width: 20%; */
/* 	padding-right: 1.5rem; */
}
.item-detail-wrap .dataTable tr {
	line-height: 1.2;
}
/*--------------------------------------------
	X.X - Description/Specifications
----------------------------------------------*/
.desc-specs {
	color: #333;
	margin-bottom: 2.5rem;
}
.desc-specs h2 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
/* 	font-weight: bold; */
/* 	text-decoration: underline; */
	font-style: italic;
}
.desc-specs div {
	display: inline-block;
	padding: 0.75rem 1rem;
	background-color: #F2F2F2;
	width: 45%;
	min-height: 8rem;
	margin-right: -4px;
/* 	border: 1px solid #ccc; */
/* 	margin-right: 2rem; */
}
.desc-specs div:nth-child(2) {
	position: relative;
	left: 10%;
}
/*--------------------------------------------
	X.X - Novartis Section
----------------------------------------------*/
.novartis-section {
	color: #333;
	margin-bottom: 3rem;
}
.novartis-section h2 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
/* 	font-weight: bold; */
/* 	text-decoration: underline; */
	font-style: italic;
}
.novartis-section div {
	display: block;
/* 	width: 29%; */
/* 	margin-right: 2%; */
/* 	border-right: 1px solid #ccc; */
/* 	border: 1px solid red; */
}
.novartis-section div:last-child {
/* 	margin-right: 0%; */
/* 	border-right: 0px solid #ddd; */
}
.novartis-section td:first-child {
/* 	width: 20%; */
}
.novartis-section table {
	line-height: 1.25;
}

@media only screen and (min-width: 63rem) { /* 1008px */
	div.asset-view,
	nav.asset-view {
		width: 68%;
	}	
}
@media only screen and (min-width: 85rem) { /* 1360px */
	div.asset-view,
	nav.asset-view {
		width: 50%;
	}
}
/*--------------------------------------------
	X.X - Select / Add Option Button
----------------------------------------------*/
.asset-view .dataTable .select-add-opt,
.asset-view .dataTable .add-opt-btn {
	display: inline-block;
}
.asset-view .dataTable .select-add-opt {
	width: calc(50% - 2.5rem);
}
.asset-view .dataTable div.add-opt-btn {
	width: 2rem;
/* 	background-color: #eee; */
/* 	border: 1px solid #bbb; */
	position: relative;
	height: 1.8rem;
	margin-left: 0.5rem;
}
.add-opt-btn img {
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 50%;
	width: 66%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	filter: brightness(200%);
}