/*=================================================================================
	1.0 - Store Index
=================================================================================*/
.store-main {
	padding-top: 13rem;
	border: 1px dashed black;
}
.store-main .store-head h1 {
	font-size: 2.5rem;
}
.main-store-content,
.store-nav {
	display: inline-block;
	margin-right: -4px;
}
.main-store-content {
	width: 80%;
	padding-left: 2rem;
}
.store-nav {
	width: 20%;
	border: 1px dashed red;
	height: 50rem;
}
.store-main .hve-wrap,
.store-main .new-equip-wrap,
.store-main .specials-wrap,
.store-main .waters-wrap,
.store-head {
	width: 63.75rem;
}
.store-head {
	margin: 0 auto;
}
.store-main .left-arrow {
	left: -0.6rem;
}