@CHARSET "ISO-8859-1";

/*=================================================================================
	1.0 - Logo Bar
=================================================================================*/
.site-header {
	position: fixed;
	width: 100%;
	z-index: 10;
}
.logoBar {
	border-bottom: 0.25rem solid #3EC70C; /* #75cf19 */
	position: relative;
	z-index: 2;
}
#logoBar_leftBG {
	height: 100%;
	width: 20%;
	background-color: #184b94;
	display: inline-block;
	margin-right: -4px;
	position: absolute;
	left: 0;
}
#logoBar_rightBG {
	height: 100%;
	width: 80%;
	background-color: #f1f4fe;
	display: inline-block;
	margin-right: -4px;
	position: absolute;
	right: 0;
}
.logoBar_content {
	position: relative;
	z-index: 2;
}
.header-info {
	position: absolute;
	max-height: 70px;
/* 	border: 1px solid blue; */
	right: 0;
	bottom: 0.33rem;
}
.header-info span {
	display: block;
	margin-bottom: 0.333rem;
	font-weight: bold;
	font-style: italic;
	color: #555;
	position: relative;
}
.header-info .phone {
	font-size: 1.2rem;
/* 	text-align: right; */
}
.header-info .phone:before,
.header-info .email:before {
	content: '';
	width: 0.95rem;
	height: 0.95rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -1.25rem;
	top: 0.1rem;
}
.header-info .phone:before {
	background-image: url(../../public_html/img/interface/phone-icon.png);
	transform: rotate(-30deg);
	top: 0.2rem;
}
.header-info .email:before {
	background-image: url(../../public_html/img/interface/mail-icon.png);
}


/*=================================================================================
	2.0 - Top/Primary Navigation Bar
=================================================================================*/
.topNavBar {
	background-color: #ddd;
	-moz-box-shadow: 	0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	box-shadow: 		0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	position: relative;
	z-index: 1;
}
/* list items are used here as menu options */
.navList li {
	display: inline-block;
	position: relative;
	margin-right: -4px;
}
.navList li a {
	/*height: 2em;*/
	display: block;
	padding: 0.667rem 0.75rem;
	color: #606060;
}
.navList li a:hover {
	background-color: #c3c3c3;
	color: #fff;
}

/*--------------------------------------------
	2.1 - Active Menu Item (Current Page)
----------------------------------------------*/
.activeNavBtn a {
	font-style: italic;
}
li.activeNavBtn {
	background-color: #cfcfcf;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

/*--------------------------------------------
	2.2 - Drop Down Menus
----------------------------------------------*/
div.dropDown {
	display: none;
	position: absolute;
	left: 0;
	top: 2.333em;
	background-color: #cfcfcf;
	min-width: 12em;
	-moz-box-shadow: 	0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	box-shadow: 		2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
ul.dropDown li {
	width: 100%;
	border-top: 1px dotted #ddd;
}
ul.dropDown li:first-child {
	border-top: 0;
}
ul.dropDown li a {
	width: 100%;
	color: #606060;
	padding: 0.5em 0.75em;
}
ul.dropDown li a:hover {
	background-color: #bbb;
}
#navBtn_home:hover #navDrop_home,
#navBtn_prod:hover #navDrop_prod {
	display: block;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #3EC70C; /* #75cf19 */
	position: absolute;
	vertical-align: top;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	transition: 0.5s ease;
}

/*--------------------------------------------
	2.3 - Search Bar
----------------------------------------------*/
.searchBar {
	display: flex;
	position: absolute;
	left: 50%;
	top: calc(100% + 1.33rem);
	transform: translateX(-50%);
	width: 85%;
	z-index: -1;
	justify-content: center;
	font-size: 12px;
}
.searchBar input[type="text"],
.searchBar-goButton {
	display: inline-block;
	height: 2rem;
	vertical-align: top;
	-moz-box-shadow: 	2px 2px 2px 0px rgba(0,0,0, 0.6);
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.6); /*inset 0 0 5px 2px rgba(0,0,0, 0.2),*/ 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.1);
	flex-grow: 2;
}
.searchBar input[type="text"] {
	width: calc(100% - 3rem);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-radius: 0;
	padding-left: 1rem;
	background: rgba(255,255,255,0.85);
	flex-basis: 75%;
	
}
.searchBar input[type="text"]:focus {
	background: rgba(255,255,255,1);
}
.searchBar input[type="text"]:placeholder-shown {
	font-style: italic;
	font-family: calibri, arial, sans-serif;
}
.searchBar-goButton {
	width: 3rem;
	padding: 0rem;
	border: 1px solid #999;
	border-left: 0;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #c9c9c9;
	cursor: pointer;
	flex-basis: 3rem;
	flex-grow: 0;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#DBDBDB),color-stop(100%,#A6A6A6));
}
.searchBar-goButton img {
	position: relative;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	top: 50%;
}
.searchBar-subitem {
	-moz-box-shadow: 	2px 2px 2px 0px rgba(0,0,0, 0.6);
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.6); /*inset 0 0 5px 2px rgba(0,0,0, 0.2),*/ 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.1);
	display: inline-block;
	height: 2rem;
	border-radius: 3px;
	margin-right: -4px;
	text-align: center;
	border: 1px solid #2867c2;/*#184b94;*/
    border-bottom-color: #245bac;
	padding: 0.9rem 0.75rem;	
	top: 50%;
	color: #fff;
	background-color: #2059AB;
	letter-spacing: 0.05rem;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4d86da),color-stop(100%,#2a6bca));
	background: gradient(linear,left top,left bottom,color-stop(0,#4d86da),color-stop(100%,#2a6bca));
}
.searchBar-store {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	white-space: nowrap;
	position: relative;
	flex-basis: auto;
	cursor: default;
	padding: 0 0.667rem;
}
.searchBar-store span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}
.searchBar-store span:after {
	content: url(../../public_html/img/interface/down-arrow-8px.png);
	margin-left: 0.5em;
}
.searchBar-cart {
	position: relative;
	margin-left: 0.5rem;
	white-space: nowrap;
	padding: 0 0.5rem;
}
.searchBar-cart img {
	width: 1.5em;
	display: block;
	margin: 0 auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*=================================================================================
	3.0 - Page Content Formatting
=================================================================================*/
.site-main {
	padding-top: calc(35px + 2.333rem + 0.25rem)
}
.pageContent {
	max-width: 85rem; /* ~1000px (83em) */
	margin: 0 auto;
}
.section-head {
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.2);
	color: #252525;
	margin: 0 auto 1rem;
}
.standard-button {
    background: #93D66D;
    background: -webkit-linear-gradient(top, #93D66D 0%, #70D636 100%);
    background: linear-gradient(to bottom, #93D66D 0%, #70D636 100%);
    border: 0;
    border-bottom: 3px solid #4e9324;
    border-radius: 2px;
    color: #fff;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0 auto;
}
.standard-button:hover {
	background: #78cc4a;
    background: -webkit-linear-gradient(top, #78cc4a 0%, #61BA2F 100%);
    background: linear-gradient(to bottom, #78cc4a 0%, #61BA2F 100%);
}
.standard-button:active {
	
}
.gradient-button {
	text-align: center;
	color: #fff;
	letter-spacing: 0.05rem;
	background-color: #2059AB;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4d86da),color-stop(100%,#2a6bca));
	background: gradient(linear,left top,left bottom,color-stop(0,#4d86da),color-stop(100%,#2a6bca));
	border: 1px solid #2867c2;/*#184b94;*/
    border-bottom-color: #245bac;
    border-radius: 2px;
}
.section-divider {
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    border: 0px solid white;
    height: 1px;
}
.social-icon {
	width: 3em;
    height: 3em;
    margin: 1em 0.25em;
    display: inline-block;
    background-size: cover;
    transition: 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.facebook-icon {
	background-image: url(../../public_html/img/interface/facebook.png);
}
.facebook-icon:hover {
	background-image: url(../../public_html/img/interface/facebook-hover.png);
}
.twitter-icon {
	background-image: url(../../public_html/img/interface/twitter.png);
}
.twitter-icon:hover {
	background-image: url(../../public_html/img/interface/twitter-hover.png);
}
.google-icon {
	background-image: url(../../public_html/img/interface/google.png);
}
.google-icon:hover {
	background-image: url(../../public_html/img/interface/google-hover.png);
}
.linkedin-icon {
	background-image: url(../../public_html/img/interface/linkedin.png);
}
.linkedin-icon:hover {
	background-image: url(../../public_html/img/interface/linkedin-hover.png);
}


/*=================================================================================
	4.0 - Footer
=================================================================================*/
.foot-main {
	background-image: url(../../public_html/img/interface/colorful-microplate.png);
	color: #fff;
}
.foot-section {
	padding: 2em;
	max-width: 350px;
	margin: 0 auto;
}
.foot-subsection {
	
}
.foot-main h3 {
	font-size: 1.5em;
	font-weight: bold;
}
.foot-main p {
	margin: 0.5em 0;
	line-height: 1.15;
	text-align: justify;
}
.foot-main input,
.foot-main button {
	font-size: 12px;
}
.foot-main input[type="text"] {
	width: 100%;
	margin-bottom: 0.5em;
}
.newsletter-form {
	margin-top: 1em;
}
.newsletter-form input[type="submit"],
.newsletter-form input[type="button"] {
	display: inline-block;
	margin-top: 0.33em;
	margin-right: 0.5em;
}
.foot-main .button-link {
	display: inline-block;
    margin-top: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.foot-subsection-divider {
	display: block;
    width: 95%;
    max-width: 400px;
    border: 0px solid white;
    background-image: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    background-image: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    height: 1px;
    margin: 2em auto;
}
.sticky-field {
	display: none;
}
.foot-social-icons {
	display: inline-block;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.foot-navigation ul {
	list-style: none;
	line-height: 1.33;
	margin: 1em 0.33em;
}
.foot-navigation a {
	color: #fff;
}
.foot-navigation a:visited {
	color: #bbb;
}
.foot-navigation a:hover {
	color: #3AD900;
}
.google-maps iframe {
	width: 100%;
	height: 30em;
}


/*=================================================================================
	5.0 - Ads
=================================================================================*/
/*
 * For our purposes, an 'ad' is a small box (within a larger page) advertising an item/service.
 * A listing is a whole page advertising an item/service.
 */
.featured-ad {
	width: 14rem;
	background-color: #f5f5f5;
	border-radius: 3px;
	overflow: hidden;
	padding: 0.5rem;
	height: 20rem;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 1rem;
	position: relative;
	transition: 0.5s ease;
} 
.featured-ad img {
	display: block;
	width: 100%; /*calc(100% - 1.5rem);*/
/* 	padding: 0.333em; */
	background-color: #fbfbfb;
	margin-bottom: 0.75rem;
	flex-basis: auto;
	flex-grow: 1;
}
.featAd-text {
	flex-basis: calc(20rem - 600px);
	flex-grow: 2;
}
.featured-ad h2 {
	white-space: normal;
	font-size: 0.95rem;
	font-weight: bold;
	color: #454545;
	margin: 0rem 0 0.25rem;
}
.featured-ad p {
    white-space: normal;
	color: #656565;
  	overflow: hidden;
 	text-overflow: ellipsis;
 	line-height: 0.9rem;
 	max-height: 1.8rem;
 	position: relative;
 	text-align: justify;
 	margin: 0 1rem 0.25rem 0;
 	font-size: 0.85rem;
}
/* No standard multi-line ellipse text-overflow in CSS, 
 * using this hacky solution instead: 
 */
.featured-ad p:after {
	content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2em;
    text-align: right;
	background: linear-gradient(to left, 
				rgba(245,245,245,1) 0%,
				rgba(245,245,245,1) 40%,
				rgba(245,245,245,0) 60%);
}
.featAd-cta {
	flex-grow: 2;
	margin: 0.5rem 0;
	position: relative;
}
.adPrice,
.adCta {
	display: inline-block;
	width: 50%;
	margin-right: -4px;
	position: relative;
}
.adPrice {
	color: #656565;
	font-size: 0.95rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.dollarSign {
/* 	vertical-align: super; */
	font-size: 0.70rem;
}
.adCta {
	position: absolute;
	bottom: 0;
	right: 0;
}
.adCta a {
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.4rem 0.33rem;
	position: relative;
	top: 0;
    left: 100%;
    transform: translateX(-105%);
}



/*=================================================================================
	6.0 - Error Page
=================================================================================*/
.error-main {
	padding: 10em 0 5em;
}
.error-head {
	font-size: 1.67rem;
	margin: 0 0 1.67rem;
}
.error-msg {
	padding: 15em 5em;
}


/*=================================================================================
	7.0 - Interface
=================================================================================*/
/*--------------------------------------------
	Alert Box
----------------------------------------------*/
.alertBox {
	width: 10%;
	min-width: 10rem;
	max-width: 20rem;
	border: 1px solid #aaa;
	background-color: #ddd;
	border-radius: 3px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 20;
}
/*--------------------------------------------
	Page Material (Boxes, Ads, Images, etc.)
----------------------------------------------*/
.material {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.1);
}

/*=================================================================================
	X.0 - Media Queries
=================================================================================*/
@media only screen and (min-width: 32rem) {
	/*--------------------------------------------
		Page Content Formatting
	----------------------------------------------*/
	.site-main {
		padding-top: calc(70px + 2.333rem + 0.25rem);
	}
}



@media only screen and (min-width: 751px) {
	.foot-main {
		background-image: url(../../public_html/img/interface/tecanEVO-background.png);
		background-size: cover;
	}
	.foot-main-container {
		margin: 0 auto;
		max-width: 75em;
	}
	.foot-section {
		padding: 2em;
		max-width: initial;
		margin: 0;
		display: inline-block;
		margin-right: -4px;
		width: 33%;
	}
	.foot-social-icons img {
		width: 2em;
	}
}
