@CHARSET "ISO-8859-1";

/*=================================================================================
	1.0 - Logo Bar
=================================================================================*/
.site-header {
	position: fixed;
	width: 100%;
	z-index: 10;
}
.logoBar {
	border-bottom: 0.25em solid #75cf19;
	position: relative;
	z-index: 2;
}
#logoBar_leftBG {
	height: 100%;
	width: 20%;
	background-color: #184b94;
	display: inline-block;
	margin-right: -4px;
	position: absolute;
	left: 0;
}
#logoBar_rightBG {
	height: 100%;
	width: 80%;
	background-color: #f1f4fe;
	display: inline-block;
	margin-right: -4px;
	position: absolute;
	right: 0;
}
.logoBar_content {
	position: relative;
	z-index: 2;
}


/*=================================================================================
	2.0 - Top/Primary Navigation Bar
=================================================================================*/
.topNavBar {
	background-color: #ddd;
	-moz-box-shadow: 	0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	box-shadow: 		0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	position: relative;
	z-index: 1;
}
/* Main Row */
.navList li {
	display: inline-block;
	position: relative;
	margin-right: -4px;
}
.navList li a {
	/*height: 2em;*/
	display: block;
	padding: 0.667rem 0.75rem;
	color: #606060;
}
.navList li a:hover {
	background-color: #c3c3c3;
	color: #fff;
}

/*--------------------------------------------
	2.1 - Active Menu Item (Current Page)
----------------------------------------------*/
.activeNavBtn a {
	font-style: italic;
}
li.activeNavBtn {
	background-color: #cfcfcf;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

/*--------------------------------------------
	2.2 - Drop Down Menus
----------------------------------------------*/
div.dropDown {
	display: none;
	position: absolute;
	left: 0;
	top: 2.333em;
	background-color: #cfcfcf;
	min-width: 12em;
	-moz-box-shadow: 	0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.30);
	box-shadow: 		2px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
ul.dropDown li {
	width: 100%;
	border-top: 1px dotted #ddd;
}
ul.dropDown li:first-child {
	border-top: 0;
}
ul.dropDown li a {
	width: 100%;
	color: #606060;
	padding: 0.5em 0.75em;
}
ul.dropDown li a:hover {
	background-color: #bbb;
}
#navBtn_home:hover #navDrop_home,
#navBtn_prod:hover #navDrop_prod {
	display: block;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #75cf19;
	position: absolute;
	vertical-align: top;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	transition: 0.5s ease;
}

/*--------------------------------------------
	2.3 - Search Bar
----------------------------------------------*/
.searchBar {
	display: flex;
	position: absolute;
	left: 50%;
	top: calc(100% + 1.33rem);
	transform: translateX(calc(-50% - 9px - .75rem)); /* Half the length of the bar itself, plus half the width of the cart btn img, plus the sum of half the padding and half the margin of the cart btn */
	width: 85%;
	max-width: 90rem;
	z-index: -1;
	justify-content: center;
	font-size: 12px;
}
.searchBar input[type="text"],
.searchBar-goButton {
	display: inline-block;
	height: 2rem;
	vertical-align: top;
	-moz-box-shadow: 	2px 2px 2px 0px rgba(0,0,0, 0.6);
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.6); //inset 0 0 5px 2px rgba(0,0,0, 0.2), 
	box-shadow: 		2px 2px 2px 0px rgba(0,0,0, 0.6);
	flex-grow: 2;
}
.searchBar input[type="text"] {
	width: calc(100% - 3rem);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-radius: 0;
	padding-left: 1rem;
	background: rgba(255,255,255,0.80);
	flex-basis: 75%;
	
}
.searchBar input[type="text"]:placeholder-shown {
	font-style: italic;
	font-family: calibri, arial, sans-serif;
}
.searchBar-goButton {
	width: 3rem;
	padding: 0rem;
	border: 1px solid #999;
	border-left: 0;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #c9c9c9;
	cursor: pointer;
	flex-basis: 3rem;
	flex-grow: 0;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#DBDBDB),color-stop(100%,#A6A6A6));
}
.searchBar-goButton img {
	position: relative;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	top: 50%;
}
.searchBar-subitem {
	-moz-box-shadow: 	2px 2px 2px 0px rgba(0,0,0, 0.6);
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.6); /*inset 0 0 5px 2px rgba(0,0,0, 0.2),*/ 
	box-shadow: 		0px 2px 2px 0px rgba(0,0,0, 0.6);
	display: inline-block;
	height: 2rem;
	border-radius: 3px;
	margin-right: -4px;
	text-align: center;
	border: 1px solid #2867c2;/*#184b94;*/
    border-bottom-color: #245bac;
	padding: 0.9rem 0.75rem;	
	top: 50%;
	color: #fff;
	background-color: #2059AB;
	letter-spacing: 0.05rem;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4d86da),color-stop(100%,#2a6bca));
	background: gradient(linear,left top,left bottom,color-stop(0,#4d86da),color-stop(100%,#2a6bca));
}
.searchBar-store {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	white-space: nowrap;
	position: relative;
	flex-basis: auto;
	cursor: default;
	padding: 0 0.667rem;
}
.searchBar-store span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}
.searchBar-store span:after {
	content: url(../images/interface/down-arrow-8px.png);
	margin-left: 0.5em;
}
.searchBar-cart {
	position: absolute;
	left: 100%;
	margin-left: 0.5rem;
	white-space: nowrap;
	transform: translateY(-50%);
	padding: 0 0.5rem;
}
.searchBar-cart img {
	width: 1.5em;
	display: block;
	margin: 0 auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*=================================================================================
	3.0 - Page Content Formatting
=================================================================================*/
.pageContent {
	max-width: 85em; /* ~1000px (83em) */
	margin: 0 auto;
}
.standard-button {
    background: #93D66D;
    background: -webkit-linear-gradient(top, #93D66D 0%, #70D636 100%);
    background: linear-gradient(to bottom, #93D66D 0%, #70D636 100%);
    border: 0;
    border-bottom: 3px solid #4e9324;
    border-radius: 2px;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 0 auto;
}
.standard-button:hover {
	background: #78cc4a;
    background: -webkit-linear-gradient(top, #78cc4a 0%, #61BA2F 100%);
    background: linear-gradient(to bottom, #78cc4a 0%, #61BA2F 100%);
}
.standard-button:active {
	
}
.social-icon {
	width: 3em;
    height: 3em;
    margin: 1em 0.25em;
    display: inline-block;
    background-size: cover;
    transition: 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.facebook-icon {
	background-image: url(../images/interface/facebook.png);
}
.facebook-icon:hover {
	background-image: url(../images/interface/facebook-hover.png);
}
.twitter-icon {
	background-image: url(../images/interface/twitter.png);
}
.twitter-icon:hover {
	background-image: url(../images/interface/twitter-hover.png);
}
.google-icon {
	background-image: url(../images/interface/google.png);
}
.google-icon:hover {
	background-image: url(../images/interface/google-hover.png);
}
.linkedin-icon {
	background-image: url(../images/interface/linkedin.png);
}
.linkedin-icon:hover {
	background-image: url(../images/interface/linkedin-hover.png);
}


/*=================================================================================
	4.0 - Footer
=================================================================================*/
.foot-main {
	background-image: url(../images/colorful-microplate.png);
	color: #fff;
}
.foot-section {
	padding: 2em;
	max-width: 350px;
	margin: 0 auto;
}
.foot-subsection {
	
}
.foot-main h3 {
	font-size: 1.5em;
	font-weight: bold;
}
.foot-main p {
	margin: 0.5em 0;
	line-height: 1.15;
	text-align: justify;
}
.foot-main input,
.foot-main button {
	font-size: 12px;
}
.foot-main input[type="text"] {
	width: 100%;
	margin-bottom: 0.5em;
}
.newsletter-form {
	margin-top: 1em;
}
.newsletter-form input[type="submit"],
.newsletter-form input[type="button"] {
	display: inline-block;
	margin-top: 0.33em;
	margin-right: 0.5em;
}
.foot-main .button-link {
	display: inline-block;
    margin-top: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.foot-subsection-divider {
	display: block;
    width: 95%;
    max-width: 400px;
    border: 0px solid white;
    background-image: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    background-image: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
    height: 1px;
    margin: 2em auto;
}
.sticky-field {
	display: none;
}
.foot-social-icons {
	display: inline-block;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.foot-navigation ul {
	list-style: none;
	line-height: 1.33;
	margin: 1em 0.33em;
}
.foot-navigation a {
	color: #fff;
}
.foot-navigation a:visited {
	color: #bbb;
}
.foot-navigation a:hover {
	color: #3AD900;
}
.google-maps iframe {
	width: 100%;
	height: 30em;
}


/*=================================================================================
	5.0 - Media Queries
=================================================================================*/
@media only screen and (min-width: 525px) {
	/*--------------------------------------------
		525^ - Logo Bar
	----------------------------------------------*/
}



@media only screen and (min-width: 751px) {
	.foot-main {
		background-image: url(../images/tecanEVO-background.png);
		background-size: cover;
	}
	.foot-main-container {
		margin: 0 auto;
		max-width: 75em;
	}
	.foot-section {
		padding: 2em;
		max-width: initial;
		margin: 0;
		display: inline-block;
		margin-right: -4px;
		width: 33%;
	}
	.foot-social-icons img {
		width: 2em;
	}
}